<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Flight Management System</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body style="background-color: lightgray;">
<div class="container">
    <h1>Flight Management System</h1>
    <hr>
    <h2>Add New Flight</h2>

    <form action="#" th:action="@{/flights/create}" th:object="${flights}" method="POST">
        <input type="hidden" th:field="*{id}" />

        <div class="form-group">
            <label>Flight Number</label>
            <input type="text" th:field="*{flightNumber}" class="form-control" placeholder="Flight Number">
        </div>

        <div class="form-group">
            <label>Departure City</label>
            <input type="text" th:field="*{departureCity}" class="form-control" placeholder="Departure City">
        </div>

        <div class="form-group">
            <label>Destination City</label>
            <input type="text" th:field="*{destinationCity}" class="form-control" placeholder="Destination City">
        </div>

        <div class="form-group">
            <label>Departure Time</label>
            <input type="text" th:field="*{departureTime}" class="form-control" placeholder="Departure Time">
        </div>

        <div class="form-group">
            <label>Arrival Time</label>
            <input type="text" th:field="*{arrivalTime}" class="form-control" placeholder="Arrival Time">
        </div>

        <div class="form-group">
            <label>Available Seats</label>
            <input type="number" th:field="*{availableSeats}" class="form-control" placeholder="Available Seats">
        </div>

        <button type="submit" class="btn btn-info">Save Flight</button>
    </form>

    <hr>

    <a th:href="@{/flights}" class="btn btn-primary btn-sm mt-3">Back to Flight List</a>
</div>
</body>
</html>